mixin PopUpCards
  .modal.fade#myModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
   .modal-dialog.modal-wrapper(role='document')
     .modal-content.popup-contint
       .modal-body
         button.close(type='button', data-dismiss='modal', aria-label='Close')
           span(aria-hidden='true') ×
          .row
            .col-sm-5
              .popup-plant
              .like-artical
                .fa.fa-heart.heart-artical
              .clearfix
            .col-sm-7
              .popup-contint-wrapper
                h2.text-center.popup-plant-title Crude Distilation Unit
                h4.text-center.location Functional Location (F34)
                p.text-center.popup-plant-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              .author-container
                .author-picture
                .author-like


.row.plant-background.remove-margin
  .col-sm-12
    .arrowbg
    .arrowsm
    h2.plants-title.text-center Refinery Plants
    .row
      .col-sm-12
        ul
          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards

          li.plants-button-wrapper
            .plants-button-bg
            .btn.plants-button-sm(data-toggle="modal" data-target="#myModal")
              h6.plants-name Crude Distilation Unit
            +PopUpCards
